<script src="../public/js/login.js"></script>
<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input id="username" type="text" title="username" placeholder="username" />
    <input id="password" type="password" title="password" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div><!--end log form -->